.clients {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 3px;
  margin-bottom: 113px;
  list-style: none;
}

.clients li {
  margin-right: 55px;
}

.clients a {
  width: 245px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  opacity: 0.2;
}

.clients a:hover {
  opacity: 1;
}

.clients a:active {
  opacity: 0.1;
}

