.category {
  margin-bottom: 121px;
}
.category__list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.category__item {
  width: 300px;
  margin-right: 100px;

  &:last-child {
    margin-right: 60px;
  }
}

.category__title {
  margin: 0;
  margin-top: 19px;
  margin-bottom: 15px;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: Roboto;
  color: #000000;
  text-transform: uppercase;
}

.category__description {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto;
  color: #283136;
}
