.page-main__wrapper {
  display: flex;
}

.page-title {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 57px;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 107px;
  text-align: center;
  background-color: #eeeeee;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;

}
