.sort {
  display: flex;
  margin-bottom: 53px;
}

.sort__title {
  display: block;
  width: 360px;
  margin-right: 40px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}


.sort__type {
  display: flex;
  justify-content: space-between;
  width: 273px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: Roboto;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  opacity: 0.3;

  &:hover[href] {
    color: #000000;

    opacity: 0.6;
  }

  &:active[href] {
    color: #000000;

    opacity: 1;
  }
}

.sort__link--active {
  color: #000000;

  opacity: 1;
}

.sort__direction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  margin-left: auto;
}


.sort__up {
  display: block;
  width: 0;
  height: 0;

  font-size: 0;

  border: 5px solid transparent;
  border-top-width: 0;
  border-bottom-width: 10px;
  border-bottom-color: #cdcdcd;

  &:hover[href] {
    border-bottom-color: #a6a6a6;
    cursor: pointer;
  }


  &:active[href] {
    border-bottom-color: #000000;
    opacity: 1;
  }
}

.sort__down {
  display: block;
  width: 0;
  height: 0;

  font-size: 0;

  border: 5px solid transparent;
  border-top-width: 10px;
  border-top-color: #cdcdcd;
  border-bottom-width: 0;

  &:hover[href] {
    border-top-color: #a6a6a6;
    cursor: pointer;
  }

  &:active[href] {
    border-top-color: #000000;
    opacity: 1;
  }
}


.sort__down--active {
  border-top-color: #000000;
}

.sort__up--active {
  border-bottom-color: #000000;
}
