@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff"); }

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff"); }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  min-width: 1200px;
  color: #000000; }

input[type="button"]:focus,
input[type="submit"]:focus {
  outline: 2px dotted black; }

.container {
  width: 1160px;
  margin: 0 auto; }

a {
  text-decoration: none; }

.page-header {
  background-color: #eeeeee; }

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 11px; }

.page-header__logo {
  width: 160px; }

.logo__link:hover[href] {
  opacity: 0.8; }

.logo__link:active[href] {
  opacity: 0.3; }

.logo__image {
  display: block; }

.page-header__cart {
  width: 160px;
  margin-top: 26px;
  text-align: right; }

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 440px;
  margin: 0;
  padding: 0;
  padding-left: 3px;
  margin-top: 26px;
  list-style: none; }

.navigation__link {
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase; }
  .navigation__link:hover[href] {
    color: #fb565a; }
  .navigation__link:active[href] {
    opacity: 0.3;
    color: #000000; }

.navigation__link--current {
  padding-bottom: 5px;
  border-bottom: 2px solid #fb565a; }

.cart__link {
  display: inline-block;
  width: 115px;
  padding-bottom: 0;
  color: black;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  background-image: url("../img/cart-icon.png");
  background-repeat: no-repeat;
  background-position: 0 45%;
  vertical-align: baseline; }

.cart__link:hover {
  color: #fb565a; }

.cart__link:active {
  color: rgba(0, 0, 0, 0.3); }

.slider {
  background-color: #efecdf;
  margin-bottom: 80px; }

.slider__item {
  width: 1160px;
  padding-top: 60px;
  padding-bottom: 79px;
  background-image: url("../img/slide1.png");
  background-position: 430px 0px;
  background-repeat: no-repeat; }

.slider__title {
  width: 380px;
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: Roboto;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px; }

.slider__text {
  width: 380px;
  margin: 0;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 39px;
  color: #283136;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.slider__button {
  width: 240px; }

.category {
  margin-bottom: 121px; }

.category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none; }

.category__item {
  width: 300px;
  margin-right: 100px; }
  .category__item:last-child {
    margin-right: 60px; }

.product__title {
  padding: 0;
  margin: 0;
  margin-top: 19px;
  margin-bottom: 15px;
  color: #000000;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase; }

.product__description {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  color: #283136;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.studio {
  margin-bottom: 72px; }

.studio__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.studio__description {
  width: 660px; }

.studio__title {
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 33px;
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px; }

.studio__principe {
  margin-bottom: 40px;
  color: #283136; }

.studio__order {
  margin: 0;
  padding: 0;
  color: #283136;
  text-transform: uppercase;
  font-weight: 700; }

.studio__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.studio__item {
  margin: 0;
  padding: 0;
  color: #283136;
  padding: 24px 0 0 36px;
  color: #283136;
  background-image: linear-gradient(to right, #fff 1px, transparent 1px, transparent 26px, #fff 26px), linear-gradient(transparent 35px, #fb565a 35px, #fb565a 37px, transparent 37px); }

.studio__description .our-job-header {
  color: #283136;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase; }

.about-us {
  margin-bottom: 99px; }

.studio__advantage {
  width: 360px; }

.studio__photo {
  text-align: center;
  margin-bottom: 37px; }

.studio__image {
  display: block; }

.studio__table {
  border-collapse: collapse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.indicators__caption {
  width: 100%;
  margin-bottom: 40px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase; }

.indicators__cell {
  width: 33.3333%;
  text-align: left;
  color: #000000;
  padding-bottom: 18px;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px; }

.indicators__sign {
  margin-left: -13px;
  font-size: 28px; }

.indicators__column {
  text-align: left;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px; }

.clients {
  margin-bottom: 80px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee; }

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }

.clients__item {
  position: relative;
  height: 180px; }
  .clients__item::after {
    content: "";
    position: absolute;
    top: 63px;
    left: 279px;
    width: 2px;
    height: 52px;
    background-color: #eeeeee; }
  .clients__item:nth-child(4n)::after {
    display: none; }

.clients__image {
  display: block; }

.clients__link {
  display: block;
  height: 90px;
  opacity: 0.2; }
  .clients__link:hover {
    opacity: 1; }
  .clients__link:active {
    opacity: 0.1; }

.map {
  position: relative;
  width: 100%;
  height: 416px;
  padding-top: 55px; }

.map__yandex {
  width: 100%;
  height: 416px;
  position: absolute;
  top: 0;
  border: none; }

.contacts {
  position: relative;
  z-index: 2;
  width: 319px;
  padding: 49px 50px 47px;
  background-color: #fff; }

.contacts__title {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase; }

.contacts__address,
.contacts__phone {
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
  line-height: 18px;
  color: #666; }

.contacts__button {
  width: 219px;
  margin-top: 17px; }

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 70px;
  padding-bottom: 70px; }

.page-footer__social {
  width: 260px; }

.page-footer__offer {
  width: 560px; }

.social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
  margin: 0;
  margin-right: 140px;
  padding: 0;
  list-style: none; }

.social__link {
  display: block;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%; }
  .social__link:hover {
    background-color: #e74246; }
  .social__link:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #912325;
    -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
            box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1); }

.social__link--vk {
  background-image: url("../img/vk-icon.png"); }

.social__link--fb {
  background-image: url("../img/fb-icon.png"); }

.social__link--insta {
  background-image: url("../img/insta-icon.png"); }

.offer {
  padding-top: 5px; }

.offer__tagline {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000; }

.offer__discount {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #444444; }

.filters {
  width: 260px;
  margin-right: 140px;
  outline: 1px dashed red; }

.filter-cost {
  height: 264px; }

.filter-cost__title,
.filter-grid__title,
.filter-features__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase; }

.filter-cost__title {
  letter-spacing: 1px; }

.filter-grid {
  margin-bottom: 44px; }

.filter-grid__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.filter-grid__item {
  margin-top: 16px; }

.filter-grid__radio {
  display: none; }

.filter-grid__label {
  padding-left: 36px;
  line-height: 20px; }

.filter-features {
  margin-bottom: 47px; }

.filter-features__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.filter-features__item {
  margin-top: 16px; }

.filter-features__checkbox {
  display: none; }

.filter-features__label {
  padding-left: 36px;
  line-height: 20px; }

.filter__button {
  width: 260px;
  color: #000000;
  line-height: 18px;
  background: #eeeeee; }

.catalog {
  width: 760px; }

.catalog__sort {
  outline: 1px dashed red; }

.catalog__list {
  outline: 1px dashed red;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.catalog-item {
  width: 360px; }

.modal {
  display: none; }

.btn {
  display: inline-block;
  min-width: 80px;
  padding: 16px 40px 16px 40px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  background-color: #fb565a;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  border: none; }
  .btn:hover {
    background-color: #e74246; }
  .btn:active {
    -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
            box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3); }

.btn--green {
  background-color: #00ca74; }
  .btn--green:hover {
    background-color: #00bc6c; }
  .btn--green:active {
    -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
            box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62; }

.btn--yellow {
  background-color: #efc84a; }
  .btn--yellow:hover {
    background-color: #eab534; }
  .btn--yellow:active {
    -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
            box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722; }

.btn--gray {
  background-color: #eeeeee;
  line-height: 18px;
  color: #000000; }
  .btn--gray:hover {
    background-color: #dfdfdf; }
  .btn--gray:active {
    -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
            box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3); }

.page-main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.page-title {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 57px;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 107px;
  text-align: center;
  background-color: #eeeeee;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px; }

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 53px; }

.sort__title {
  display: block;
  width: 360px;
  margin-right: 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase; }

.sort__type {
  width: 273px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sort__link {
  opacity: 0.3;
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none; }

.sort__direction {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.sort__up {
  width: 0;
  height: 0;
  font-size: 0;
  border: 5px solid transparent;
  border-top-width: 0;
  border-bottom-width: 10px;
  border-bottom-color: #cdcdcd;
  cursor: pointer; }

.sort__down {
  width: 0;
  height: 0;
  font-size: 0;
  border: 5px solid transparent;
  border-top-width: 10px;
  border-top-color: #cdcdcd;
  border-bottom-width: 0;
  cursor: pointer; }
